.poppins-regular{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.margin{
    margin-left: 141px;
    margin-right: 141px;
}


/* Styles of navigation bar */
.navigation{
    display: flex;
    justify-content: space-between;
    margin: 26px 141px 26px 141px;
    align-items: center;
    

}
.frirst-assets-logo{
    width: 80px;
    height: 80px;
    align-items: center;
}
.first-h1{
    margin-left: 11px;
    font-size: 2rem;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
}
.first-button{
    margin-right: 141px;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 15px 60px;
    color: white;
    background-color: orange;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.first-ul{
    font-size: 1.25rem;
    font-weight: bold;
    
}
.first-humbarg-image{
    width: 30px;
    height: 30px;
    display: none;
}

/* First section styles */
.first-section{
    border: 80vh;
    display: flex;
    justify-content: space-between;
}
.section-container{
    padding: 50px;
}

.first-section-h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 20px;
    
}
.first-section-p{
    font-size: 1.25rem;
    margin-top: -10px;
}
.first-section-button{
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    gap: 5px;
    padding: 10px 47px;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* main 2 part */
.bkg-img{
    background: 
    linear-gradient(to top, #ffe7bf 30%, white 40%),

    url("../assets/bg.png");
background-size: cover; 
background-position: center;
}
/* section three style */
.standard-h1{
    font-size: 2.875rem;
    text-align: center;
    padding-top: 60px;
}
.container{
    display: flex;
    justify-items: center;
    text-align: center;
    margin: 80px 180px;
    gap: 30px;
    background-color: white;
}
.main-container{
    /* border: 1px solid gray; */
    border-radius: 18px;
    box-shadow: 0 0 28px 0.94px rgba(0, 0, 0, 0.05);
}
.container-one{
    background-image: linear-gradient(to bottom, #caedfc, white 200px);
}
.container-two{
  background-image: linear-gradient(to bottom, #FFF4DC, white 200px);
}
.container-three{
    background-image: linear-gradient(to bottom, #F2E8FF, white 200px);
}


.container-hrader{
    font-size: 1.70rem;
}
.container-description{
    color: #808080;
    padding: 33px 48px;
}
.container-button{
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: white;
    padding-bottom: 63px;

}
.container-image{
    padding-top: 62px;
}
.aro-button{
    text-align: center;
    cursor: pointer;
   
  

}
 .button-left{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    font-size: 1.70rem;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    background-color: orange;
 }
 .button-right{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 1.70rem;
    color: white;
    background-color: orange;
 }

 .our-stories-one{
    text-align: center;
    font-size: 2rem;
    margin-top: 150px;
    margin-bottom: 100px;

 }
 .story-one{
    /* border: 1px solid gray; */
    background-color: white;
    border-radius: 20px;
    
 }
 .image{
    width: 430px;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
    margin-bottom: -30px;
 }
 

 
.five-stories{
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
}
.section-four-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.section-number-four{
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 30px;
    margin-left: 65px;
    width: 1000px;
}
.section-four-container{
    margin-left: 130px;
}


.img-story-one{
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
    margin-bottom: -30px;
}
.story-one-btn{
    font-size: 1rem;
    padding: 14px 20px;
    border-radius: 47px;
    color: white;
    background-color: #3CD8E8;
    border: none;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: -200px;
}
.story-one-h3{
     font-size: 1.75rem;
     margin-top: 36px;
     margin-bottom: 47px;
     padding-left: 40px;
}
.story-one-p{
     padding: 10px 40px;
     color: #666666;
}
.h2{
  padding-left: 30px;
  padding-bottom: 40px;
  padding-top: 30px;
}
.btn{
    cursor: pointer;
    font-size: 1rem;
    padding: 14px 20px;
    border-radius: 47px;
    color: white;
    background-color: #3CD8E8;
    border: none;
    margin-left: 40px;
    margin-bottom: -200px;
}
.button-button1{
    cursor: pointer;
    margin-top: 140px;
    margin-bottom: 100px;
    text-align: center;
    

}
.button-button{
    cursor: pointer;
    padding: 16px 81px;
    color: white;
    background-color:black;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 120px;
}
/* footer */
footer{
    display: flex;
    justify-content: space-around;
    background-color:
    rgb(17, 16, 16);
    margin-top: 90px;
}
.footer-first-h2{
     font-size: 2.3rem;
     color: white;
     margin-left: 1px;
}
.last-logo-image{
    width: 90px;
    height: 90px;
}

.last-div-one{
    display: flex;
    align-items: center;
    
}
.footer-first-div{
    padding-top:123px;
    padding-left: 100px;
    padding-bottom: 180px;
}
.first-div-p{
    font-size: 1.25rem;
    color: white;
    margin-top: 35px;
}
.second-last-div{
    color: white;
   
}
.second-last-div ul li{
    text-decoration: none;
    list-style: none;
    margin-bottom: 9px;
}
.last-h1{
    color: white;
}
.second-last-div{
    padding-top: 123px;
    text-align: center;
    
}
.last-h1{
   padding-top: 123px;
}
.four-images{
    padding-top: -50px;
}

.last-div{
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   gap: 0px;
}



/* scroling text */
.scroll{
    width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
      align-items: center;
      border: 1px solid black;
      margin-top: 20px;
      background-color: rgb(255, 242, 219);
      font-size: 20px;
}



   .scroll span{
    display: inline-block;
    animation: scroll-right 10s linear infinite;
   }
   @keyframes scroll-right {
    0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
   }


/* Responsive for mobile devices */
@media screen and (max-width:576px) {
    .aro-button{
        display: none;
    }
    br {
        display: none;
    }
    nav{
        border-bottom: 1px solid orange;
        height: 90px;
    }
    .first-ul{
        display: none;
    }
    .first-h1{
        display: none;
    }
    .first-button{
        display: none;
    }
    .navigation{
        margin: 10px 10px;
        width: 50px;
        height: 50px;
        
    }
    .first-humbarg-image{
        display: block;
        margin-right: 10px;
    }
    .first-section{
        margin: 0 10px;
    }
    .first-section{
        display: grid;
        grid-template-columns: 1, 1fr;
    }
    .first-section img{
        order: 1;

    }
    .section-container{
        order: 2;
        padding: 10px 20px;
    }
    .first-section-h1{
        font-size: 32px;
        font-weight: 700;
        margin-top: 0px;
        align-items: center;
        text-align: center;
    } 
    .first-section-p{
        align-items: center;
        text-align: center;
        font-size: 14px;
    }  
    .first-section-button{
        font-size: 14px;
        padding: 10px 24px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 
    .hero-image{
        width: 90%;
       display: block;
       margin-left: auto;
       margin-right: auto;
    }
    .standard-h1{
        margin: 10px 0;
        font-size: 25px;
    }
    .container{
        margin: 15px 25px;
        display: grid;
        grid-template-columns: 1, 1fr;
    }
    .section-number-four{
        display: none;
    }
    .section-four-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0%;
    }
    .five-stories{
        margin-left: 10px;
        margin-right: 10px;
        margin: 0 auto;
    }
    .image{
        width: 100%;
    }
    .our-stories-head{
        font-size: 40px;
        margin-bottom: 0%;
    }
    .our-stories-one{
        margin: 40px;
    }
    .button-button{
       margin: 30px;
    }
    .button-button1{
        margin: 30px;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-first-div{
        padding: 20px 20px;
    }
    .last-logo-image{
        width: 50px;
        height: 50px;
    }
    .footer-first-h2{
        font-size: 30px;
        margin-left: 25px;
    }
    .first-div-p{
        padding-top: 20px;
        font-size:14px;
        margin-top: 5px;
    }
    .second-last-div{
        padding-top: 30px;
    }
    .second-last-h1{
        font-size: 30px;
    }
    .last-h1{
        padding-top: 25px;
        font-size: 25px;
        
    }
    .last-div{
        text-align: center;
        align-items: center;
    }
}

/* Responsive for tablate */

@media  screen and (min-width:576px) and (max-width:992px) {
    .navigation{
        margin: 20px 20px;
        width: 50px;
        height: 50px;
        align-items: center;
    }
    .first-h1{
        font-size: 20px;
        margin-left: 10px;
    }
    .first-ul{
        font-size: 15px;
    }
    .first-button{
        margin-right: 20px;
        font-size: 15px;
    }
    .first-section{
        display: grid;
        grid-template-columns: 1, 1fr;
        margin: 20px 25px;
        align-items: center;
        text-align: center;
    }
    .hero-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .container{
        margin: 20px 25px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }
    .section-number-four{
        display: none;

    }
    .five-stories{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 15px 10px;
    }
    .section-four-container{
        margin: 10px 15px;
        margin: 0 auto;
    }
    .footer-first-div{
        padding: 15px 13px;
        
    }
    .last-logo-image{
        width: 60px;
        height: 60px;
    }
    .footer-first-h2{
        font-size: 20px;
    }
    .first-div-p{
        font-size: 12px;
        margin-top: 10px;
    }
    .second-last-div{
        padding-top: 15px ;
        display: block;
       margin-left: auto;
       margin-right: auto;
    }
    .second-last-h1{
        font-size: 20px;
    }
    .last-ul li{
        font-size: 12px;
    }
    .last-h1{
        padding-top: 15px;
        font-size: 20px;
    }
    .four-images img{
        width: 25px;
        height: 25px;
    }
    footer{
       display: flex;
       justify-content: space-around;
       
    }
    .last-div{
        display: block;
       margin-left: auto;
       margin-right: auto;
    }
}