.poppins-regular{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.margin{
    margin-left: 141px;
    margin-right: 141px;
}


/* Styles of navigation bar */
.navigation{
    display: flex;
    justify-content: space-between;
    margin: 26px 141px 26px 141px;
    align-items: center;
    

}
.frirst-assets-logo{
    width: 80px;
    height: 80px;
    align-items: center;
}
.first-h1{
    margin-left: 11px;
    font-size: 2rem;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

nav ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav ul li a{
    text-decoration: none;
}
.first-button{
    margin-right: 141px;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 15px 60px;
    color: white;
    background-color: orange;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
.first-ul{
    font-size: 1.25rem;
    font-weight: bold;
    
}
.first-humbarg-image{
    width: 30px;
    height: 30px;
    display: none;
}

/* First section styles */
.first-section{
    border: 80vh;
    display: flex;
    justify-content: space-between;
}
.section-container{
    padding: 50px;
}

.first-section-h1{
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 20px;
    
}
.first-section-p{
    font-size: 1.25rem;
    margin-top: -10px;
}
.first-section-button{
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    gap: 5px;
    padding: 10px 47px;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


/* Responsive for mobile devices */
@media screen and (max-width:576px) {
    br {
        display: none;
    }
    nav{
        border-bottom: 1px solid orange;
        height: 90px;
    }
    .first-ul{
        display: none;
    }
    .first-h1{
        display: none;
    }
    .first-button{
        display: none;
    }
    .navigation{
        margin: 10px 10px;
        width: 50px;
        height: 50px;
        
    }
    .first-humbarg-image{
        display: block;
    }
    .first-section{
        margin: 0 10px;
    }
    .first-section{
        display: grid;
        grid-template-columns: 1, 1fr;
    }
    .first-section img{
        order: 1;

    }
    .section-container{
        order: 2;
        padding: 10px 20px;
    }
    .first-section-h1{
        font-size: 32px;
        font-weight: 700;
        margin-top: 0px;
        align-items: center;
        text-align: center;
    } 
    .first-section-p{
        align-items: center;
        text-align: center;
        font-size: 14px;
    }  
    .first-section-button{
        font-size: 14px;
        padding: 6px 24px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 
    .hero-image{
        width: 400px;
       display: block;
       margin-left: auto;
       margin-right: auto;
    }
    
}

/* Responsive for tablate */

@media  screen and (min-width:576px) and (max-width:992px) {
    .navigation{
        margin: 20px 20px;
        width: 50px;
        height: 50px;
        align-items: center;
    }
    .first-h1{
        font-size: 20px;
        margin-left: 10px;
    }
    .first-ul{
        font-size: 15px;
    }
    .first-button{
        margin-right: 20px;
        font-size: 15px;
    }

}